<a href="/" class="btn btn-info " style="margin-top:5px;">Logout</a>
<div class="optionDiv">
    <button class="btn">
        <a href="/teacher/list-results">List All Students Results</a>
    </button>
    <button class="btn">
        <a href="/teacher/create-results">Add Student Results</a>
    </button>
</div>