<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Results Portal (Y Ntuli)</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="/css/bootstrap.css"/>
   <!-- css styles - custom -->
   <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>

  <%- include("../partials/navbar.ejs") %> 
  <%- body %> 

  <!-- Footer-->
  <footer class="py-2 bg-dark fixed-bottom">
    <div class="container">
      <p class="text-center text-white my-2">&copy; Copyright 2024 - Nagarro Trainee</p>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>