<p class="text">Login as</p>
<div class="teachLog">
    
    <button  type="button" class="btn">
        <a href="/teacher/authentication">Teacher Login</a>
    </button>


    <button  type="button" class="btn">
        <a href="/student/validation">Student Login</a>
    </button>
</div>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="RMA" content="Student Results Management Application"/>
<link rel="stylesheet" href="">
<link rel="stylesheet" href="">
<link rel="stylesheet" href="/Frontend/content/css/style.css">
<title>Results Management Application</title>
</head>
<body>

<script src=""></script>
<script src="/Frontend/content/js/script.js"></script>
</body>
</html> -->